.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.tabHeader {
	background:#555;
	color:#FFF;
	text-align:center;
	padding:10px 0;
}
.currentMood {
	width:50%;
	margin:20px auto;
	padding:20px;
	border:1px solid #555;
}
.moodEntry div {
	margin:10px 0;
}
.moodSelect {
	margin:0 0 20px;
	padding:0 0 10px;
	border-bottom:1px dotted
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
