* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tabHeader {
  background: #555;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
}
.react-tabs__tab {
  background:#e5e5e5;
  border:1px solid #555;
  border-bottom:none;
}
.react-tabs__tab--selected {
  background:#fff;
  
}
.react-tabs__tab-panel--selected {
  width: 100%;
  border-top:1px solid
}
ul.tablist {
    margin-bottom: 0;
}

.moodEntry div {
  margin: 10px 0;
}

.moodSelect, .importantEntry {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px dotted
}

.radio {
  display: inline-grid;
}

.radio label>input {
  visibility: hidden;
  position: absolute;
}

.radio label>input+img {
  cursor: pointer;
  border: 2px solid transparent;
}

.radio label>input:hover+img {
  background-color: #cdcdcd;
}

.radio label>input:checked+img {
  background-color: #efcd00;
}

.moodFace {
  padding: 5px;
}

.graphThumb {
  width: 95%;
  margin: 10px auto;
  height: 300px;
  border:2px solid #463869;
  color: #463869;
  text-align: left;
  padding:15px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.react-tabs__tab {
  cursor: pointer;
  border: 1px solid #e3e3e3;
}

.react-tabs__tab--selected {
  
  border-bottom: none;
  color:#463869;
}

.react-tabs__tab :hover {
  background: #555;
  cursor: pointer;
}

.tabList {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px;
}

.tablist li {
  padding: 8px 16px;
  display: inline-block;
}
.moodIcon span {
  height:24px;
  width:24px;
  display:inline-block;
}
.moodIcon span.mood1 {
  background-image: url('/static/media/ic_sentiment_very_dissatisfied_black_24px.a47ea525.svg');

}
.moodIcon span.mood2 {
  background-image: url('/static/media/ic_sentiment_dissatisfied_black_24px.c26d36e2.svg');

}
.moodIcon span.mood3 {
  background-image: url('/static/media/ic_sentiment_neutral_black_24px.914e1593.svg');

}
.moodIcon span.mood4 {
  background-image: url('/static/media/ic_sentiment_satisfied_black_24px.7bb0e09e.svg');

}
.moodIcon span.mood5 {
  background-image: url('/static/media/ic_sentiment_very_satisfied_black_24px.ac649213.svg');

}
.innerTab {
  padding:10px 20px;
}
.currentMood h3, .moodHistory h3, .moodSettings h3 {
  background:#463869;
  color:#fff;
  margin:0 0 15px;
  padding:10px 20px;
}
#options {
    padding: 10px 20px;
    background: #bfdbfd;
}
.onoffswitch {
  float:left;
  margin-right:20px;
}
.tablist li {
    width: 33.3%;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
  text-transform:uppercase;
}
ul.tablist {
  padding:0;
  margin:30px 0 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
